.skillPallete {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--base-200);
  min-height: 150px;
  gap: 1rem;
}

.skillPallete > h2 {
  font-weight: lighter;
  letter-spacing: 5px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: color 300ms ease;
}

.skillPallete > h2:hover {
  color: rgba(255, 255, 255);
}

@media (max-width: 768px) {
  .skillPallete {
    padding: 1rem;
    flex-direction: column;
  }
}
