nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
}

.nav-logo > img {
  width: 1.7rem;
}

.prime {
  color: var(--primary-color);
}

.nav-buttons {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  gap: 1rem;
  font-size: 0.8rem;
}

.nav-buttons > a {
  text-decoration: none;
}

.xl {
  display: none;
}

.sm {
  display: inline;
}

.xl {
  color: rgba(255, 255, 255, 0.5);
  transition: color 300ms ease;
}

.xl:hover {
  color: rgba(255, 255, 255);
}

svg {
  transition: fill 300ms ease;
  fill: rgba(255, 255, 255, 0.5);
}

svg:hover {
  fill: rgba(255, 255, 255);
}

@media (min-width: 768px) {
  .xl {
    display: inline;
  }

  .sm {
    display: none;
  }
}
