.badge {
  font-size: 0.8rem;
  background-color: var(--base-100);
  padding: 0.5rem 0.7rem;
  border-radius: 0.3rem;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 3rem;
  background-color: var(--base-200);
}

.footer-developed {
  color: rgb(155, 155, 155);
  text-align: center;
}

.footer-made-with {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

.footer-made-with > svg {
  width: 1.8rem;
}
